*~
repo
repo/*
target
target/*
.settings
.DS_Store
.faces-config.xml.jsfdia
MANIFEST.MF
.idea
*.iml

*.class
*.log
*.log.*
src/main/webapp/WEB-INF/lib/*

.factorypath
/build/*



/target
/.settings
*.classpath
.classpath